body {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    text-align: center;
}
header {
    background-color: blanchedalmond;
    padding: 50px;
    text-align: center;
    font-family: bely, serif;   
}
.header_navn {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
button {
  background-color: blanchedalmond;
  border: 5px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: bely, serif;
  border-radius: 20px;
  transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

